@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;    /* Clean and bright white */
  --foreground: #121212;    /* Deep black for strong contrast */
  --primary: #1E88E5;       /* Deep teal for a premium look */
  --secondary: #FF6F61;     /* Warm coral for an inviting feel */
  --accent: #f3f3f7;        /* Sophisticated warm accent */
  --border: #cacaca;        /* Subtle neutral border */
  --success: #2e7d32;       /* Rich green for positive actions */
  --error: #d32f2f;         /* Strong red for warnings */
  --section-lg-gap: 60px;
  --section-mobile-gap: 35px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
